@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700,700i&subset=cyrillic');

/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */


body {
	font-family: 'Montserrat', sans-serif;
	background: #fff;
	margin: 0 auto;
}


.h1 {
	font-size: 48px;
	line-height: 60px;
	font-weight: bold;
	color:#052A40;
}
.h2 {
	font-size: 36px;
	line-height: 48px;
	font-weight: bold;
	color:#052A40;
}
.h3 {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color:#052A40;
}
.h4 {
	font-size: 24px;
	line-height: 36px;
	font-weight: bold;
	color:#052A40;
}
.h5 {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color:#052A40;
}
.h6 {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	color:#052A40;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px !important;
}
.row {
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
}
.complex__title {
    font-weight: bold;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    color: #052A40;
    position: relative;
}
.complex__title span {
	display: block;
	font-weight: normal;
	line-height: 24px;
	font-size: 16px;
	color: #052A40;
}
.complex__title::before {
    content: '';
    width: 180px;
    height: 3px;
    background: #00BCF0;
    position: absolute;
    left: 0;
    right: 0;
    top: -21px;
    margin: auto;
}
.complex__title--left {
	text-align: left;
}
.complex__title--left::before {
	margin: inherit;
}


/*-Screen #1-*/
.complex__header {
	background: #052A40 url(../img/bg-img.png) center no-repeat;
	max-width: 100%;
	height: 684px;
	margin: 0 auto;
}

.complex__header_row {
	display: flex;
	justify-content: space-between;
    padding-top: 156px;
    flex-wrap: wrap;
}

.complex__left {
    width: 66%;
}

.complex__right img {
    max-width: 100%;
}

.complex__header_title {
	font-weight: bold;
	line-height: 48px;
	font-size: 36px;
	color: #fff;
	padding-bottom: 12px;
}

.complex__header_list {
	list-style: none;
	line-height: 24px;
	font-size: 18px;
	color: #FFFFFF;
	padding: 6px 0;
}


.complex__header_list::before {
	content: '';
	display: inline-block;
	background: #00BCF0;
	width: 24px;
	height: 2px;
	vertical-align: middle;
	margin-right: 24px;
}

.complex__header_consult {
	font-weight: bold;
	line-height: 24px;
	font-size: 18px;
	color: #FFFFFF;
	padding-top: 60px;
}


.complex__header_block {
	flex-direction: column;
	justify-content: flex-end;
	display: inline-flex;
	padding: 0 12px 12px 0;
}

.complex__header_name {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	line-height: 24px;
}
.complex__header_name span {
	color:red;
}    

.complex__header_input {
	width: 336px;
	height: 48px;
	font-size: 15px;
	color: #596870;
	box-sizing: border-box;
	padding-left: 15px;
	border-radius: 2px;
	border: 0;
}
.complex__header_input:focus {
	outline: 0;
}

.complex__header_input--phone {
	width: 197px;
}

.complex__agreement {
	display: inline-block;
	color: #fff;
	line-height: 24px;
    font-size: 14px;
    position: relative;
    left: 10px;
    top: -6px;
}
.complex__agreement a { 
	text-decoration: none;
	color: #00BCF0;
}
.complex__agreement--black {
	color: #052A40;
}

/*-Screen #2-*/

.complex__desc {
    margin-top: 168px; 
    margin-bottom: 132px;
}

.complex__desc_line {
    display: flex;
    align-items: center;
}
.complex__desc_line img{
    max-width: 100%;
}

.complex__desc_title {
    line-height: 36px;
    font-size: 24px;
    color: #052A40;
}
.complex__desc_text {
    line-height: 24px;
    font-size: 16px;
    color: #052A40;
    padding-top: 24px;
}

.complex__desc_text span {
    font-weight: bold;
}

/*-Screen #3-*/

.complex__tariff {

}


.tariff {
    flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-end;
	display: flex;
    margin: auto;
    padding-top: 60px;
}
.tariff--fix {
    padding-top: 25px;
}

.tariff__name {
    text-align: center;
    width: 180px;
    padding-left: 30px;
}

.tariff__name--price {
    text-align: center;
    width: 180px;
    padding-left: 30px;
}

.tariff__desc {
    line-height: 18px;
    font-size: 12px;
    text-align: center;
    color: #052A40;
    font-weight: normal;
}

.tariff__desc span {
    display: block;
    font-size: 12px;
    padding-bottom: 12px;
}

.tariff__table {
	display: table;
    width: 100%;
	border:1px solid #DCE1E5;
	border-width: 1px 1px 0 1px;
    margin-top: 12px;
}
.tariff__table_row{
	display: table-row;
    width:50px;
}

.tariff__table_cell {
    border-bottom:1px solid #DCE1E5;
	display: table-cell;
    padding: 12px 24px 12px 24px;
    width: 480px;
    color: #052A40;
    background-color: #F5F5F5;
    font-size: 14px;
    line-height: 24px;
}
.tariff__table_cell--small {
    border-bottom:1px solid #DCE1E5;
    width: 180px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
}

.tariff__table_foot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.tariff__table_body {
	display: table-row-group;
}


/*-Screen #4-*/

.complex__background {
	background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 100%);
    height: 280px;
}

.complex__form {
	display: flex;
	justify-content: space-between;
	border: 1px solid #DCE1E5;
	border-radius: 4px;
	height: 276px;
	margin-top: -170px;
	background: #fff;
	margin-bottom: 141px;
}

.complex__form_left {
	padding: 36px 0 0 102px;
}

.complex__form_block {
	flex-direction: column;
	justify-content: flex-end;
	display: inline-flex;
	padding: 0 12px 12px 0;
}

.complex__form_block input {
	background: #F5F5F5;
	border: 1px solid #DCE1E5;
	box-sizing: border-box;
	border-radius: 2px;
	width: 336px;
	padding: 12px 0 12px 24px;
	line-height: 24px;
	font-size: 15px;
	color: #596870;	
}
.complex__form_block input:focus {
	outline: 0;
}

.complex__form_block input[type="phone"] {
	width: 202px;
}

.complex__form_name {
	font-size: 14px;
	font-weight: bold;
	color:#052A40;
	line-height: 24px;
	padding-bottom: 6px;
}
  
.complex__form_right {
	width: 384px;
	background: #052A40;
	border-radius: 0 4px 4px 0;
	background: url(../img/photo.png) #052A40 right no-repeat;
	display: flex;
	align-items: flex-end;
}
.complex__form_manager {
	color: #fff;
	font-weight: bold;
	line-height: 36px;
	font-size: 24px;
	box-sizing: border-box;
	background: linear-gradient(180deg, rgba(5, 42, 64, 0) 0%, #052A40 100%);
	width: 100%;
	padding: 24px;
}
.complex__form_manager span {
	display: block;
	line-height: 24px;
	font-size: 16px;
	color: #D2D5D9;
	font-weight: normal;
}

.complex__form_pdn {
	padding-bottom: 24px;
}

/*-Screen #5-*/

.complex__result_box  {
	background: #F5F5F5;
	display: flex;
	margin-top: 78px;
	margin-bottom: 120px;
}
.complex__result_box:after {
	clear:both; 
	content:""; 
	display:block;
}
.complex__result_top {
	font-weight: bold;
	line-height: 24px;
	font-size: 18px;
	color: #052A40;
	text-align: center;
	padding: 36px 0 12px 0;
}
.complex__result_tab {
	list-style:none;
	width: 384px;
	border: 1px solid #DCE1E5;
}
.complex__result_tab li {
	margin-bottom:1px;
	height: 48px;
	line-height: 24px;
	font-size: 14px;
}
.complex__result_tab li a {
	display:inline-block;
	width:100%;
	height: 48px;
	color: #052A40;
	text-decoration:none;
	padding: 12px 0 0 12px;
    box-sizing: border-box;
}

.complex__result_tab li.select a{
	background:#fff;
	border-left: 3px solid #00BCF0;
	color: #00BCF0;
}
  .complex__result_tab .active{
	display:inline-block;
	padding:5px;
}
.complex__result_box>div{
	background: #052A40;
}

.complex__result_background {
	background: url(../img/fdclinic.png) no-repeat center;
	padding: 36px 60px;
	background-size: cover;
}
.complex__result_background--upm {
	background: url(../img/upm.png) no-repeat center;
}
.complex__result_background--dantist {
	background: url(../img/dantist.png) no-repeat center;

}
.result__title {
	font-weight: normal;
	line-height: 36px;
	font-size: 24px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	padding-bottom: 24px;
}
.result__title a {
	font-weight: bold;
	color: #00BCF0;
	position:relative;
	text-decoration: none;
	margin-left: 6px;
}
.result__title img {
	padding-right: 12px;
}

.result__title a:after {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:1px;
    border-bottom:1px solid rgba(0, 188, 240, 0.2);
    content:""
}
.complex__result_line {
	display: flex;
	font-weight: bold;
	line-height: 24px;
	font-size: 16px;
	color: #FFFFFF;
	padding-bottom: 24px;
}


.complex__result_line--sub {
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 12px;
}
.complex__result_border {
	background: #00BCF0;
	height: 1px;
	margin-bottom: 12px;
}
.complex__result_border:last-child {
	margin-bottom: 0;
}

.complex__result_center {
	margin-left: auto;
	width: 78px;
}
.complex__result_right {
	width: 120px;
	font-weight: bold;
}
.complex__result_review {
	max-width: 696px;
	font-style: italic;
	line-height: 24px;
	font-size: 15px;
	text-align: center;	
	color: #fff;
	margin-top: 60px;
	margin-bottom: 12px;
}

.complex__result_original {
	display: flex;
    align-items: center;
    justify-content: center;
}

.complex__result_original a {
	font-weight: 600;
	font-size: 14px;
	color: #00BCF0;
	text-decoration: none;
	font-style: normal;
	position: relative;
	margin-left: 6px;
}

.complex__result_original a::before {
	position:absolute;
    left:0;
	bottom: -4px;
    width:100%;
    height:1px;
    border-bottom:1px solid rgba(0, 188, 240, 0.2);
    content:""
}




/*-Style for button-*/
.button { 
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% 'Montserrat', sans-serif;
	font-weight: 600;
	color: #fff;
	padding: 15px 0px 15px;
	width: 240px;
	background: -moz-linear-gradient(top, #FA2869 0%, #F91B60 100%);
	background: -webkit-linear-gradient(top, #FA2869 0%, #F91B60 100%); 
	background: linear-gradient(to bottom, #FA2869 0%, #F91B60 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
	box-shadow: 0px 10px 20px rgba(249, 27, 96, 0.3);
	border-radius: 2px;
	border-color: #FA2869;
}
.button--tariff {
    width: 180px;
    margin-bottom: 60px;
}

.button:disabled {
	cursor: not-allowed;
	opacity: 0.8;
}

.button:focus {
	outline: none;
	box-shadow: 0px 8px 20px rgba(249, 27, 96, 0.3);
}

/*-Style for input-*/

input[type="checkbox"],input[type="radio"] {
	-webkit-appearance:none;
	width:24px;
	height:24px;
	border:1px solid #00BCF0;
	outline:none;
	margin:5px;
	box-sizing:border-box;
    background: #fff;
    border-radius: 2px;
    margin: 0;
}
input[type="checkbox"]:checked:before {
	content:"";
	display:block;
	width:9px;
	height:14px;
	border:0 solid #00BCF0;
	border-width:0 2px 2px 0;
	-webkit-transform:rotateZ(45deg);
	margin: 0px 6px;
	pointer-events:none;
}

